@CHARSET "UTF-8";


#zend-dev-bar fieldset {
	width: 500px;
    margin: 12px;
    vertical-align: middle;
    border: 1px solid #e3e3e3;
    position: relative;
    background: #FCFCFC;
}

#zend-dev-bar table#general_table {
    width: 400px;
    margin-bottom: 18px;
    padding: 0;
    font-size: 13px;
    border-collapse: collapse;
}

#zend-dev-bar table th, table td {
    padding: 5px 4px 5px;
    line-height: 18px;
    text-align: left;
}

#zend-dev-bar span.generalTitle {
    display: block;
	font-weight: bold;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border: none;
	font-size: 13px;
    color: #404040;
	padding-left: 9px;
}

#zend-dev-bar div.generalTableDiv {
	display: inline-block;
	width: 40%;
	vertical-align: middle;
}

#zend-dev-bar div.pieChartDiv {
	height: 390px;
	position: relative;
	overflow-y: auto;
	width: 15%;
	padding-bottom: 8px;
	float: left;
	padding-left: 20px;
	padding-top: 40px;
	vertical-align: middle;
}

#zend-dev-bar span.legendColorSpan {
	height: 10px;
	display: inline-block;
	width: 10px;
	margin-right: 7px;
}

#zend-dev-bar div.pieLegendDiv {
	float: left;
	width: 22%;
	padding-top: 40px;
}

#zend-dev-bar div.cacheTableDiv {
	min-height: 1px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 8px;
	display: inline-block;
	width: 62%;
}